body {
    background-color: beige;
}


h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    color: green;
    font-weight: 600;
    font-size: 35px;
}
li {
    list-style: none;
    font-size: 18px;
}

img {
    margin-right: 10%;
    margin-left: 10%;
    width: 500px;
    height: auto; 
    
}
 a {
    color: green;
 }
 a:hover {
    color: orangered;
    background-color: skyblue;
 }